[{"id":"a92c3d8b.49a0b","type":"mqtt-broker","z":"4ce7896f.096518","broker":"broker.mqttdashboard.com","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"852a3ca7.2c50a","type":"mqtt in","z":"4ce7896f.096518","name":"agri-m2m","topic":"agri-m2m","broker":"a92c3d8b.49a0b","x":165.00001525878906,"y":578.3333969116211,"wires":[["d7817e2c.06a56"]]}]
