[{"id":"56fbd1b0.a9043","type":"serial-port","z":"f2b2900d.0d4d7","serialport":"/dev/ttyACM1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"c28f25fe.3d70d8","type":"serial out","z":"f2b2900d.0d4d7","name":"Arduino In","serial":"56fbd1b0.a9043","x":717,"y":264,"wires":[]}]
